div::-webkit-scrollbar {
    width: var(--bs-border-radius-xl);
}

div::-webkit-scrollbar-track {
    background-color: var(--bs-dark-bg-subtle);
}

div::-webkit-scrollbar-thumb {
    background-color: var(--bs-tertiary-bg);
    border-width: 1px 2px;
    border-style: solid;
    border-color: var(--bs-dark-bg-subtle);
    border-radius: 0 var(--bs-border-radius-xl) var(--bs-border-radius-xl) 0;
}

body {
    width: 25rem;
}

.custom-button:hover {
    color: var(--bs-info);
}